/*reset*/
* {
    margin: 0;
    padding: 0;
}

/* FONTS
<link href="https://fonts.googleapis.com/css?family=Electrolize|Montserrat&display=swap" rel="stylesheet">
*/
$content-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Electrolize', sans-serif;

h1, h2, h3 {
    font-family: $title-font-family;
}

.logo {
    width: 150px;
    
}
